@charset "UTF-8";

@font-face {
  font-family: "wooaddtocart";
  src:url("fonts/wooaddtocart.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}

[class*=" wooaddtocart-"]:before, [class*=" wooaddtocart-"]:after {
  font-family: "wooaddtocart" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  text-decoration: none;
  height: 1em;
  position: relative;
  top: 1px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=" wooaddtocart-"]:before {
  padding-right: 5px;
}

[class*=" wooaddtocart-"]:after {
  padding-left: 5px;
}